
<h1> listing all the Sites </h1>
<% @sites = Site.all %>
<table class=" table table-bordered">
  <tr>
    <th>ID</th>
    <th> Name </th>
    <th></th>
    <th></th>
  </tr>
  <% @sites.each do |site| %>
      <tr>
        <td><%= site.id %></td>
        <td><%= site.name %> </td>
        <td><%=link_to "EDIT",edit_site_path(site),remote: 'true' %></td>
        <td><%=link_to "delete",site_path(site), remote:'true',method: :delete, data: {confirm: "Are you sure"} %> </td>

      </tr>
  <% end %>
</table>
