<html>
<body style="background: v.jpg">
<h1> My website </h1>
<a href="http://www.youtube.com"> youtube </a>
<!-- <img src="http://www.rosenfels.org/snapshots/Psychology/gearhead_2560x1920.jpg"> -->
<div id="sites_list">
  <%= render "sites_list"%>
</div>

<div id="site_form_div">
  <%= render "sites_form" %>

</div>
</body>
</html>


	